.react-calendar {
  border: none;
  width: 100%;
  padding: 15px;
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}

.react-calendar__tile {
  padding: 10px 6px;
  text-align: center;
  border-radius: 8px;
}

.react-calendar__tile--now {
  background: #173b8a !important;
  color: white !important;
  border-radius: 6px !important;
}

.highlight-date {
  background: #f37526 !important;
  color: white !important;
  border-radius: 50%zz;
}

.react-calendar__tile--active {
  background: #173b8a !important;
  color: white !important;
  border-radius: 6px !important;
}
